<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<form action="" class="form1">
		<div class="input">
			<input type="text" placeholder="请输入姓名" class="tf1" id="name"><br>
			<input type="text" placeholder="请输入邮箱" class="tf1" id="email"><br>
			<input type="text" placeholder="请输入联系地址" class="tf1" id="address"><br>
			<input type="text" placeholder="请输入您的留言" class="tf1" id="message"><br>
		</div>
		<input type="submit" class="ok">
	</form>
</body>
</html>